.container {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #363740;
}

.sing-in {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card {
  width: 71vh;
  height: 80vh;
}

.logo {
  width: 48px;
  height: 48px;
  margin-top: 40px;
}

.ellipse {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 500px;
  justify-content: center;
  background-color: #3751ff;
}

.text1 {
  color: #a4a6b3;
  width: 61vh;
  height: 3.3vh;
  font-size: 19px;
  margin-top: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.text2 {
  color: #252733;
  width: 61vh;
  height: 4.1vh;
  font-size: 24px;
  margin-top: 28px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.text3 {
  color: #9fa2b4;
  width: 61vh;
  height: 2.7vh;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

@media (max-width: 767px) {
  .card {
    width: 65vh;
    height: 631px;
  }
}
