.container {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #363740;
}

.sing-in {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card {
  width: 71vh;
  height: 80vh;
}

.logo {
  width: 48px;
  height: 48px;
  margin-top: 40px;
}

.ellipse {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 500px;
  justify-content: center;
  background-color: #3751ff;
}

.text1 {
  color: #a4a6b3;
  width: 61vh;
  height: 3.3vh;
  font-size: 19px;
  margin-top: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.text2 {
  color: #252733;
  width: 61vh;
  height: 4.1vh;
  font-size: 24px;
  margin-top: 28px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.text3 {
  color: #9fa2b4;
  width: 61vh;
  height: 3vh;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.form {
  width: 61vh;
  height: 43vh;
  position: relative;
  align-self: center;
  margin-top: 4vh;
}
.textefield-label-icon-default {
  margin-top: 20px;
  width: 61vh;
  height: vh;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
}
.text-email {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #9fa2b4;
  text-align: left;
}
input {
  padding-left: 16px;
  height: 6vh;
  margin-top: 6px;
  margin-bottom: 15px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: calc();
  line-height: 20px;
  letter-spacing: 0.3px;
  border-radius: 8px;
  color: #4b506d;

  opacity: 0.4;
}

.text-passw {
  width: 100%;
  height: 16px;
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #9fa2b4;
  text-align: left;
}

.forgot-password {
  top: 92px;
  right: 0px;
  width: 85px;
  height: 15px;
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;

  color: #9fa2b4;
  text-align: right;
  letter-spacing: 0.1px;
}
.log {
  font-family: "Mulish";
  top: 15px;
  margin-left: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.3px;

  color: #3751ff;
}
.singin {
  left: 278px;
  color: #9fa2b4;
  margin-left: -125px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  font-size: 14px;
  margin-top: 45px;
  text-align: left;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}
@media (max-width: 767px) {
  .card {
    width: 65vh;
    height: 631px;
  }
}
