@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,200&display=swap');
.sidebar{
    background-color: #363740;
    position: relative;
    width: 15.938rem;
    height: 38rem;
    
}

.tittle{
    position: absolute;
    width: 8.375px;
    height: 1.5px;
    left: 4.7rem;
    top: 2.563rem; 
    color: #A4A6B3;
    font-family: 'Mulish';    
}

.logo{
    position: absolute;
    width: 8.375rem;
    height: 1.5rem;
    left: 2rem;
    top: 2.313rem; 
}
.menu{
    position: absolute;
    top: 8rem;
    list-style: none;
}
li{
    width: 15.938rem;
    height: 3.5rem;

}
a{
    position: absolute;
    height: 1.25rem;
    left: 4.5rem;
    right: 1.5rem;
    color: #DDE2FF;
    opacity: 0.6;
    margin-top: 1.125rem;
    font-family: 'Mulish';
}
img{
    position: absolute;
    left: 2rem;
    margin-top: 1.125rem;
}
.divider{
    position: absolute;
    width: 15.938rem;
    height: 0.063rem;
    background-color: #A4A6B3;
}
.settings{
    position: absolute;
    top: 23rem;
}
li:hover{
    background-color: #3e4049;
  
    
}
a:hover{
    opacity: 1;
}




