.header{
    position: relative;
    width: 1122px;
    height: 44px;
    float: right;
    margin: 30px;
}
.title{
    position: absolute;
    height: 34px;
    left: 0px;
    right: 351px;
    text-align: left;
    top: calc(50% - 34px);
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
}
.search{
    position: absolute;
    width: 413px;
    height: 24px;
    left: 400px;
    top: 13px;
    background: #D9D9D9;
    border: 0;
}
.Bsearch{
    background: url(../Img/lupa.png) no-repeat;
    background-size: 20px;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 271px;
    border: 0;
    top: calc(50% - 16px/2);
}
.notifi{
    position: absolute;
    background: url(../Img/notific.png) no-repeat;
    background-size: 18px;
    border: 0;
    width: 24px;
    height: 24px;
    right: 231px;
    top: calc(50% - 16px/2);
}
.name{
    position: absolute;
    width: 109px;
    height: 18px;
    right: 58px;
    top: calc(50% - 18px);
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252733;
}
.photo{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 1075px;
    top: 0px;
    border-left: 9.33px;
    border-radius: 100px;
}