@import url('https://fonts.googleapis.com/css2?family=Mulish');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish";

}

.boxtext {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65.5rem;
    height: 3.75rem;
    left: 19.688rem;
    top: 5rem;
    background: #4497FA;
    border-radius: 0.375rem;

}

.text {

    width: 63.313rem;
    height: 2rem;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.013rem;
    color: #FFFFFF;

}

.dropfilesinput {
    box-sizing: border-box;

    position: absolute;
    width: 65.5rem;
    height: 29.688rem;
    left: 19.688rem;
    top: 9.75rem;

    background: #FFFFFF;
    border: 0.063rem dashed #000000;
}

.dropfilesinput input {

    text-align: center;
    opacity: 0;
    position: absolute;
    width: 65.5rem;
    height: 29.688rem;
    cursor: pointer;
}

.dropfilesinput:hover,
.dropfilesinput.dragover {
    opacity: 0.6;
    background-color: #e3e3e3;
}

.dropfilespreview {

    width: 50%;

}

.dropfilespreview__item {

    position: relative;
    display: flex;
    margin-bottom: 0.5rem;
    padding: 0.938rem;
    border-radius: 1.25rem;


}

.dropfilepreview__image {

    padding-bottom: 1%;
    width: 10%;
    height: 40%;
    margin-left: 15%;
    margin-right: 2%;
    margin-top: 10%;
    float: left;
}

.dropfilepreview__image img {
    width: 30px;
    height: 30px;



}

.dropfilespreview__item__info {
    width: 22.688rem;
    height: 10.875rem;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 1rem;
    box-shadow: 0.313rem 0.313rem 0.313rem 0.313rem gray;

}

.fileName {
    width: 70%;
    margin-top: 1.5rem;
    color: #979696;
    font-size: 0.9rem;
   
}
.fileSize {
    width: 20%;
    float: left;
    color: #979696;
    margin-left: 15%;
    font-size: 0.9rem;
    
}

.dropfilespreview__item__del {
    background-color: #ff0000;
    border-radius: 0.3rem;
    width: 2rem;
    height: 2rem;
    float: none;
    color: #FFFFFF;
    display: flex;
    margin-left: 40%;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}

.dropfilespreview__item__del:hover {
    width: 2.625rem;

}
.buttonSendFiles{
color: #FFFFFF;
font-family: "Mulish";
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
background: #3751FF;
box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
border-radius: 8px;
    margin-top: 90%;
    margin-left: 42%;
    width:316px;
    height: 48px;
    cursor: pointer;
}
.buttonSendFiles:hover{
  width: 320px;
  height: 50px;
  background-color: #023a7f;
  font-weight: bold;
}